body{
    background-color: lightsteelblue;
}

.list-title{
    font-weight: bold;
    font-size: 30px;
}

ul{
    list-style-type: none;
}
.center-text{
    text-align: center;
}

.text-right{
    text-align: right;
}

.sub-image-container{
    width: 100%;
}

.float-left{
    width: 50%;
    float: left;
}
.float-right{
    width: 50%;
    float: right;
}

.fancy-text{
    font-family: 'Press Start 2P', cursive;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1499px){
    .image-container a{
        width: 40%;
        position: relative;
        text-align: center;
    }
}

@media only screen and (min-width: 1500px) {
    .image-container a{
        width: 35%;
        position: relative;
        text-align: center;
    }
}

.image-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 4vw;
    z-index: 10;
}

.image-container img{
    width: 100%;
    padding: 10px;
    height: auto;
}
.image-container img:hover{
    width: 100%;
    padding: 10px;
    height: auto;
    opacity: 0.3;
}

.text-body{
    width: 80%;
    height: 500px;
    background-color: azure;
    margin: 0 auto;
}

form{
    margin-left: 10%;
    margin-top: 5%;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
}

.footer-content{

}