<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head th:insert="base :: head"></head>
<body>
<div th:insert="base :: nav-bar"></div>
<form action="#" method="get">
    Name:
    <br/>
    <input type="text"/>
    <br/><br/>
    Phone Number:
    <br/>
    <input type="text"/>
    <br/><br/>
    Email:
    <br/>
    <input type="text"/>
    <br/><br/>
    Questions:
    <br/>
    <textarea cols="75" rows="10" placeholder="Questions..." maxlength="500"></textarea>
    <br/>
    <input type="submit"/>
    <input type="reset" value="Clear"/>
</form>
<div th:insert="base :: footer"></div>
<div th:insert="base :: javascript"></div>
</body>
</html>