<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base :: head"></head>
<body>
<div th:insert="base :: nav-bar"></div>
<div class="sub-image-container center-text">
    <img class="center border-radius-circle" src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562699934/hobby%20assignment/df4895a9daf78258b5f218a4078b209c68bd945ac594f514c8d37ce4c55cb6df_aqahs4.gif" alt="Games Gif"/>
</div>
<div class="text-body center-text border-radius">
    <h2>Games</h2>
    <br/>
    <div class="float-left">
        <ul>
            <li class="list-title">My Favorite Games</li>
            <li>Skyrim</li>
            <li>The Last of Us</li>
            <li>The Witcher 3</li>
            <li>Tom Clancy's Rainbow 6 Seige</li>
        </ul>
    </div>
    <div class="float-right">
        <h3>Hours Played</h3>
        <p>1000000000000 Hours to Date</p>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: javascript"></div>
</body>
</html>