<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base :: head"></head>
<body>
<div th:insert="base :: nav-bar"></div>
<div class="image-container">
    <a href="/sports"><div class="image-text-background"></div><div class="image-text">Sports</div><img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562698827/hobby%20assignment/59d043689a8d2.image_sg0ljl.jpg" alt="Sports Image"/></a>
    <a href="/movies"><div class="image-text">Movies</div><img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562698770/hobby%20assignment/movies-tiles_kycowm.jpg" alt="Movie Image"/></a>
    <a href="/music"><div class="image-text">Music</div><img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562698787/hobby%20assignment/Ch0XiPUU4AEi9vz_qxw5kl.jpg" alt="Music Image"/></a>
    <a href="/games"><div class="image-text">Video Games</div><img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562698804/hobby%20assignment/BethesdaPinball_Key_art_300dpi_V4_s_oiw44k.jpg" alt="Video Game Image"/></a>
</div>

<div th:insert="base :: footer"></div>
<div th:insert="base :: javascript"></div>
</body>
</html>