<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Hobbies</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div th:insert="base :: nav-bar"></div>
<div class="image-container">
    <a href="/sports"><div class="image-text">Sports</div><img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562698827/hobby%20assignment/59d043689a8d2.image_sg0ljl.jpg" alt="Sports Image"/></a>
    <a href="/movies"><div class="image-text">Movies</div><img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562698770/hobby%20assignment/movies-tiles_kycowm.jpg" alt="Movie Image"/></a>
    <a href="/music"><div class="image-text">Music</div><img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562698787/hobby%20assignment/Ch0XiPUU4AEi9vz_qxw5kl.jpg" alt="Music Image"/></a>
    <a href="/games"><div class="image-text">Video Games</div><img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562698804/hobby%20assignment/BethesdaPinball_Key_art_300dpi_V4_s_oiw44k.jpg" alt="Video Game Image"/></a>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>