<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base :: head"></head>
<body>
<div th:insert="base :: nav-bar"></div>
<div class="sub-image-container center-text">
    <img class="center" src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562699649/hobby%20assignment/giphy_co2hzs.gif" alt="Movies Gif"/>
</div>
<div class="text-body center-text">
    <h2>Movies</h2>
    <br/>
    <div class="float-left ">
        <ul>
            <li class="list-title">My Favorite Movies</li>
            <li>Toy Story</li>
            <li>Scary Movie</li>
            <li>Mulan</li>
            <li>Lilo and Stitch</li>
            <li>The Green Mile</li>
            <li>Gladiator</li>
        </ul>
    </div>
    <div class="float-right">
        <h3>Hours watched</h3>
        <p>1000000000000 Hours to Date</p>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: javascript"></div>
</body>
</html>