<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base :: head"></head>
<body>
<div th:insert="base :: nav-bar"></div>
<div class="sub-image-container center-text">
    <img class="center border-radius-circle" src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562699842/hobby%20assignment/music-fans-concert-animated-gif-image-1_cdjbve.gif" alt="Music Gif"/>
</div>
<div class="text-body center-text border-radius">
    <h2>Music</h2>
    <br/>
    <div class="float-left ">
        <ul>
            <li class="list-title">My Favorite Music</li>
            <li>Cage the Elephant</li>
            <li>Nirvana</li>
            <li>AC/DC</li>
            <li>Vampire Weekend</li>
            <li>J. Cole</li>
        </ul>
    </div>
    <div class="float-right">
        <h3>Hours Listened</h3>
        <p>1000000000000 Hours to Date</p>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: javascript"></div>
</body>
</html>