<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base :: head"></head>
<body>
<div th:insert="base :: nav-bar"></div>
<div class="sub-image-container center-text">
    <img class="center" src="https://res.cloudinary.com/dmfaehjot/image/upload/v1562699122/hobby%20assignment/naenae_yytmhw.gif" alt="Sports Gif"/>
</div>
<div class="text-body center-text">
    <h2>Sports</h2>
    <br/>
    <div class="float-left">
        <ul>
            <li class="list-title">My Favorite Sports</li>
            <li>Football</li>
            <li>Hockey</li>
            <li>Soccer</li>
            <li>Tennis</li>
        </ul>
    </div>
    <div class="float-right">
        <h3>Hours Played</h3>
        <p>1000000000000 Hours to Date</p>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: javascript"></div>
</body>
</html>